api:
  dashboard: true
  insecure: false

log:
  filePath: "/logs/traefik.log"
  level: DEBUG

accessLog:
  filePath: "/logs/access.log"
  bufferingSize: 100

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ':443'
    http:
      tls:
        certResolver: letsencrypt

certificatesResolvers:
  letsencrypt:
    acme:
      caServer: 'https://acme-v02.api.letsencrypt.org/directory'
      email: webmaster@mondomaine.com
      storage: acme.json
      httpchallenge:
        entrypoint: web

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    watch: true
    network: web
  file:
    filename: dynamic.yml
